.card-container {
  width: 100%;
}
.card-img {
  width: 100%;
  height: 70%;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.card-title {
  justify-content: space-between;
}

/* md */
@media (min-width: 768px) {
  .card-container {
    width: 18rem;
    height: 20rem !important;
  }
}

/* lg */
@media (min-width: 1024px) {
  .card-container {
    width: 20rem;
    height: 23rem !important;
  }
  .container {
    width: 768px;
  }
}
  
@media (min-width: 1680px) {
  .container {
    max-width: 1024px;
  }
  .card-container {
      width: 19.7rem;
      height: 23rem !important;
  }
}