.customer-table {
    display: flex;
    flex-direction: column;
    padding-block: 2rem;
    margin-block: 2rem;
    background: linear-gradient(45deg, #ff9900, #a333ff);
}
.table-items {
    flex-direction: column;
    font-weight: 500;
}

@media (min-width: 768px) {
    .customer-table {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }
    .table-items p {
        font-size: 1.25rem;
    }
}
@media (min-width: 1024px) {
    .customer-table {
        padding-block: 3.5rem;
        gap: 6rem;
    }
    .table-items p {
        font-size: 1.5rem;
    }
}
@media (min-width: 1680px) {
    .customer-table {
        padding-block: 5rem;
        justify-content: space-evenly;
    }
    .table-items p {
        font-size: 2rem;
    }
}