.footer-section {
}
.brand-section {
    width: 100%;
}
.logo-section {
    padding: 1rem 0 0 1.4rem;
    width: 50%;
}
.contact-section {
    margin-top: 10px;
    justify-content: space-between;
    padding: 1.4rem;
}
.app-section {
    flex-wrap: wrap;
    padding-inline: 0rem;
}
.store {
    width: 100%;
    height: 120px;
}
.links-section {
    width: 100%;
    padding: 1.4rem;
}
.link-heading {
    font-size: 1.5rem;
    font-weight: 500;
}
.links-section a {
    color: black;
}

@media (min-width: 768px) {
    .brand-section {
        display: flex;
        justify-content: space-around;
        position: relative;
        padding-inline: 2rem;
    }
    .logo-section {
        width: 40%;
    }
    .contact-section {
        position: absolute;
        top: 95%;
        left: 10%;
        gap: 3rem;
    }
    .app-section {
        width: 40%;
    }
    .links-section {
        display: flex;
        justify-content: space-around;
        padding-top: 6rem;
    }
}

@media (min-width: 1024px) {
    .footer-section {
        display: flex;
    }
    .brand-section {
        display: flex;
        flex-wrap: wrap;
        padding-inline: 2rem;
        width: 50%;
        justify-content: start;
    }
    .logo-section {
        width: 20%;
    }
    .contact-section {
        position: relative;
        top: 0;
        left: 0;
        gap: 2rem;
        width: 50%;
        justify-content: center;
        margin-left: 5rem;
    }
    .app-section {
        width: 100%;
        flex-wrap: nowrap;
    }
    .store {
        width: 40%;
        height: 100px;
    }
    .links-section {
        width: 50%;
        padding-top: 1rem;
    }
    .link-heading {
        margin-bottom: 1rem;
    }
}

@media (min-width: 1680px) {
    .brand-section {
        position: relative;
    }
    .logo-section {
        width: 30%;
        /* height: 100%; */
    }
    .contact-section {
        margin-left: 0rem;
        width: 65%;
        height: 50%;
        gap: 5rem;
        margin-left: 3rem;
        justify-content: start;
    }
    .contact-logo {
        scale: 1.2;
    }
    .app-section {
        position: absolute;
        top: 40%;
        left: 35%;
        width: 50%;
        height: 50%;
    }
    #app-store-img {
        padding: 0.98rem !important;
    }
    .link-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
    .links-section a {
        font-size: 2rem
    }
}