.offerCard-container {
    width: 100%;
    height: 27rem !important;
    position: relative;
}
.offerCard-img {
    height: 50% !important;
    border-top-left-radius: 1.5%;
    border-top-right-radius: 1.5%;
}
.offer-title {
    position: absolute;
    top: 30%;
    left: 0;
    color: #ffff !important;
    background-color: #eab032;
    font-size: 1rem;
    padding: 2% 5%;
}
.offer-price span{
    color: #eab032;
    font-weight: 650;
    font-size: 2rem;
    margin-right: 2%;
}
.offer-price {
    font-size: 0.875rem;
    margin: 0;
}
.offer-desc {
    height: 4rem;
    font-size: 0.875rem  !important;
    line-height: 1.25rem;
}
@media (min-width: 768px) {
    .offerCard-container {
        height: auto !important;
        flex-direction: row !important;
    }
    .offerCard-img {
        width: 50%;
    }
    .offer-title {
        top: 70%;
    }
    .offer-desc {
        margin-block: 1rem;
    }
}
@media (min-width: 1024px) {
    .offerCard-container {

    }
    .offerCard-img {
        width: 80%;
    }
}