.tour-card {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}
.video-section {
  width: 100%;
  object-fit: cover;
}
.Cols {
  height: 100%;
}
.tour-title {
  font-size: 2.5rem !important;
  font-weight: normal;
  color: var(--primary-text-color) !important;
}
.tour-desc {
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}
.tour-button {
  color: #ffff !important;
  border-radius: 50px !important;
}


/* md */
@media (min-width: 768px) {
  .tour-card {
    width: 90%;
    height: 30rem !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
    margin-inline: auto;
  }
  .video-section {
    width: 50%;
    height: 100%;
  }
  .tour-body {
    display: inline;
    width: 50%;
  }
  .tour-title {
    font-size: 1.7rem !important;
  }
  .tour-desc {
    font-size: 0.9rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .tour-card {
    width: 70%;
  }
  .tour-title {
    font-size: 2rem !important;
  }
  .tour-desc {
    font-size: 1rem;
  }
}