.tour-card {
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
}
.video-section {
  width: 100%;
  object-fit: cover;
}
.Cols {
  height: 100%;
}
.tour-title {
  font-size: 2.5rem !important;
  font-weight: normal;
  color: var(--primary-text-color) !important;
}
.tour-desc {
  font-size: 1.2rem;
  color: var(--secondary-text-color);
}
.tour-button {
  color: #ffff !important;
  border-radius: 50px !important;
}


/* md */
@media (min-width: 768px) {
  .tour-card {
    width: 40rem;
    height: 37rem !important;
  }
  .video-section {
    height: 588px;
  }
  .tour-title {
    font-size: 1.7rem !important;
  }
  .tour-desc {
    font-size: 0.9rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .tour-card {
    width: 50rem;
    height: 38rem !important;
  }
  .video-section {
    height: 602px;
  }
  .tour-title {
    font-size: 2rem !important;
  }
  .tour-desc {
    font-size: 1rem;
  }
}