.card-section {
  padding-block: 2rem;
}
.bigfeature-title {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--primary-text-color);
}
.feature-card {
  padding: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
.sub-feature-section {
  width: 100%;
}
.offer-section {
  padding-block: 2rem;
}
.offerSection-title {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--primary-text-color);
}
.sub-offer-section {
  width: 100%;
}
.offer-card {
  padding: 1rem;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 768px) {
  .container {
    max-width: 640px;
  }
  .feature-card {
    justify-content: space-around;
  }
  .sub-feature-section {
    width: auto;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .sub-feature-section {
  }
}
  
/* xl */
@media (min-width: 1680px) {
  .container {
    max-width: 1024px;
  }
  .feature-card {
    justify-content: center;
    gap: 15rem;
  }
  .sub-feature-section {

  }
}